<h1>Editing ccategory</h1>

<%= render "form", ccategory: @ccategory %>

<br>

<div>
  <%= link_to "Show this ccategory", @ccategory %> |
  <%= link_to "Back to ccategories", ccategories_path %>
</div>
